body {
  background-color: #dbdef1;
}

img {
  display: block;
  margin: 0 auto;
}

.hangman{
  height: 365px;
}

button {
  height: 30px;
  border-radius: 20px;
  border-style: solid;
  border-color: lightgrey;
  background-color: white;
  text-align: center;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

button:hover {
  background-color: #bfbfbf;
  cursor: pointer;
}

button:active {
  border-color: black;
  background-color: grey;
  font-weight: normal;
}

.game {
  display: none;
}

.newWords {
    display: none;
}

#add-new-words {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dbdef1;
    border: none;
    outline: none;
    font-size: 25px;
}

.container {
  display : flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.letters{
  width: 32px;
  height: 30px;
  border-color: grey;
  border-style: inset;
  border-radius: 10px;
  background-color: #adb6ef;
  padding-top: 10px;
  text-align: center;
}

#hang-input {
  margin-bottom: 15px;
  background-color: #dbdef1;
  text-align: center;
  border: none;
  outline: none;
  font-size: 25px;
  width: 100%;
}

.fails {
  height: 50px;
  margin-bottom: 25px;
}